/* Style sheet */

div {
    text-align: center;
    border: 2px dashed black;
    margin: 100px;
    user-select: none;
    padding: 20px;
    background-color: azure;
}

h1 {
    font-family: courier;
    font-size: 100px;
}

p {
    font-family: arial;
}

button {
    width: 150px;
    padding: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.8s;
}

button:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
}

button:active {
    color: white;
    background-color: grey;
    border: 2px solid black;
}

#outPut {
    color: goldenrod;
    font-size: 4em;
    font-family: monospace;
}